{% extends 'base_user_center.html' %}
{% block title %}銀行帳戶{% endblock title %}
{%block topfiles%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
	function cart_del(cart_id){
	del=confirm('確定要刪除嗎?');
	if(del){
	 $.get('/user/bankdelete'+ cart_id + '/',function(data){
     $('div').remove('.' + cart_id);
	 
   });
	}
   }
</script>

	
{%endblock topfiles%}
{% block right_content %}
		<div class="right_content clearfix">
				<h6 class="common_title2">金融帳戶</h6>
				<div class="site_con">
					<dl>
						<dt>我的信用卡：</dt>
                        {% if cards %}
							{% for card in cards %}
							<div class="container" id="bc">
								<div class="row addr {{card.id}}"> 
						    		<div class="col-3  {{card.id}} " id="devs" >&nbsp&nbsp&nbsp{{ card.account }} </div>
									{% if card.is_default %}
										<div class="col-1 {{card.id}}" id="dev"> 預設 </div>
										<div class="col-1 {{card.id}} dev1" id="dev1" style="display: none;">{{card.id}}</div>
									{% else %}
										
										<div class="col-1 {{card.id}} " id="{{card.id}}"></div>
									
										
									{% endif %}
									<div class="col-5"></div>
									<div class="col-1  {{card.id}}" id="ad"><a href="javascript:cart_del({{card.id}});">刪除&nbsp</a></div>
									<div class="col-2  {{card.id}}" id="isdea"><a href="javascript:set_del({{card.id}});">設定為預設&nbsp</a></div>
								</div>
							</div>
							{% endfor %}
					    {% else %}
                            <dd>無</dd>
                        {% endif %}
						
                    </dl>
				</div>
				<h6 class="common_title2">新增銀行帳戶</h6>
				<div class="site_con">
					<form method="post" action="{% url 'user:bank' %} "onsubmit=" return  toVaild(this)">
                        {% csrf_token %}
						<div class="form_group">
							<label>帳號：</label>
							<input type="text" name="account" id="aa" required>
						</div>
						<div class="form_group">
							<label>持卡人姓名：</label>
							<input type="text" name="holder" required>
						</div>
                        <div class="form_group">
							<label>到期日：</label>
							<input type="text" name="dueday" id="bb" placeholder="MM/YY" required>
						</div>
                        <div class="form_group">
							<label>CVV：</label>
							<input type="text" name="cvv" id="cc" required>
						</div>
						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock right_content %}
{% block bottomfiles %}
<script language="javascript">
	function toVaild(){
		var patt = /[0-9]{16}/;
		var val = document.getElementById("aa").value;
		{% if cards %}
			{% for card in cards %}
				if (val == {{ card.account }})
					{   alert("該卡已存在，請重新輸入");
						return false;
					}
			{% endfor %}					
        {% endif %}
		if(patt.test(val)){
            var patt = /(0[1-9]|1[0-2])\/[0-9]{2}/;
            var val = document.getElementById("bb").value;
            if(patt.test(val)){
                var patt = /[0-9]{3}/;
                var val = document.getElementById("cc").value;
                if(patt.test(val)){
                    return true;
            }
                else{
                    alert("CVV格式錯誤，不進行提交");
                    return false;}}
            else{
                alert("到期日格式錯誤，不進行提交");
			    return false;
            }
			
		}
		else{

			alert("帳號格式錯誤，不進行提交");
			return false;
		}
	}
</script>
<script>
	function set_del(cart_id){
	 $.get('/user/setbank'+ cart_id + '/',function(data){	
		$("#dev").text("");
		$("div#"+ cart_id).text("預設");
		
		val=document.getElementById("dev1").innerText;
		$('div').remove('#dev1');
		$('#dev').attr('id',val);
		$("<div class=\"col-1 " + cart_id  + " \"id= \"dev1\" style=\"display: none;\">"+ cart_id + "</div>").insertAfter( '#'+ cart_id);
		$('#'+cart_id).attr('id','dev');
		
	})
   }
</script>
{% endblock bottomfiles %}
