<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>二手書代售服務條款 </div>
    <p><strong>書立馬先網路書店提供二手書代售服務(以下簡稱本服務)。凡使用本服務之書立馬先會員，需同意遵守以下條款。</strong>&nbsp;</p>
    <p></p>
    <p><br></p>
    <p><strong>一、完成開通流程，取得二手書賣家(以下簡稱賣家)身份。 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>&nbsp;</p>
    <p>二、代售二手書範疇： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>&nbsp;</p>
    <p></p>
    <p>賣家可至書立馬先網站「會員中心」，將欲販售二手書之ISBN輸入指定欄位內。若系統回應之書名與賣家欲販售二手書之書名完全相同，則該書為書立馬先可代售之二手書。若查無資料，則書立馬先不提供代售服務。 &nbsp; &nbsp; &nbsp; <strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>&nbsp;</p>
    <p>賣家於書立馬先上架申請[註 1]最多3本(含) 相同ISBN之二手書，且銷售中與新增上架申請之二手書數量合併計算。待銷售中之二手書售出後(此時同一位賣家於書立馬先販售之相同ISBN二手書總量低於3本)，方可再上架申請相同ISBN之二手書。若經查同一位賣家上架申請和正在銷售之相同ISBN二手書超過3本，書立馬先將執行本服務條款【第十二條 二手書寄送至書立馬先後，無法代售情形之後續處理】。 </p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (1)中文雜誌、歐美雜誌。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (2)無定價、無出版日期、無ISBN之二手書。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (3)蓋有租書店店章、政府機關學校館藏章、來自租書店及漂書單位之二手書。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (4)高中/國中/國小教科書、參考書、兒童教具類二手書。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (5)書況不佳之二手書：缺書封、缺書衣、缺內頁、裝訂脫落、印刷及裁切瑕疵、有書釘、水漬、殘破、污損、塗鴉、膠貼、蟲穢、異味。(畫線、註記、贈品遺失或毀損者不在此列，惟上架申請時需註明。）<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (6)不分售之套書，有缺書而不成套之二手書。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (7)已使用過之各類練習簿、測驗簿、著色本或含習題之二手書，以及缺少附件即無法使用之二手書。<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (8)書立馬先保留其他特定二手書不代售之權利。<br>&nbsp;</p>
    <p>賣家寄送至書立馬先的二手書，如有上述情形者，書立馬先將執行本服務條款【第十二條 二手書寄送至書立馬先後，無法代售情形之後續處理】。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <p></p>
    <p>三、書況標定 : 二手書「書況」由書立馬先統一標定，標準如下： </p>
    <p></p>
    <ol>
        <li>全新：膠膜未拆，無瑕疵。</li>
        <p></p>
        <li>近全新：未包膜，翻閱痕跡不明顯，如實體賣場陳列販售之書籍。</li>
        <p></p>
        <li>良好：有使用痕跡，不如新書潔白、小範圍瑕疵，如摺角、碰撞、汙點或泛黃等。</li>
        <p></p>
        <li>普通：有使用痕跡，並因時間因素，有大範圍黃、黑斑及瑕疵。</li>
        <p></p>
        <li>差強人意：印刷褪色、模糊或其它更糟之書況。</li>
    </ol>
    <p>四、賣家自訂售價與二手書售價： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
    <p>二手書之「賣家自訂售價」，最高不可高於原書籍定價(版權頁定價)的70％；最低不可低於新台幣35元。(特殊活動除外) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <p>每本二手書於書立馬先網站顯示之「二手書售價」(以下簡稱二手價)為賣家自訂售價加上新台幣10元。以二手書賣家自訂售價新台幣110元為例，書立馬先網站顯示之二手價即為新台幣120元。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <p>若因書立馬先資料庫之原定價修正，導致賣家自訂售價高於修正後定價之70%，書立馬先將發email至會員註冊信箱，通知賣家修改賣家自訂售價。通知信寄出7日後，賣家若仍未調整賣家自訂售價，書立馬先將修正賣家自訂售價為修正後定價之70%，賣家後續仍可自行修改。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
    
    <p>五、二手書打包/裝箱：</p>
    <p>寄送二手書至書立馬先前，賣家需按照二手書上架申請單[註 2]之明細打包/裝箱。一筆申請單可裝成一箱，或分裝多箱(僅適用於郵局或貨運宅配寄送)，但是同一箱內不可裝入多筆申請單之二手書。多筆申請單之二手書混合裝箱，即造成每箱內容物與該箱之申請單明細不符(因為一箱之內容只能對應一個申請單號[註 3])，書立馬先無法代售，將執行本服務條款【第十二條 二手書寄送至書立馬先後，無法代售情形之後續處理】。</p>
    <p></p>
    <p>六、二手書理賠：</p>
    <p>賣家委託書立馬先代售之二手書，若在以下期間發生毀損或遺失，將獲得理賠。理賠金額為按照本服務條款【第七條 代售手續費(佣金)與賣家銷售所得】預估之賣家銷售所得。</p>
    
        <p>書立馬先代售保管期間（意指書立馬先收到二手書至販售給消費者的期間）：由書立馬先賠償。</p>
        <p>物流運輸期間：由物流單位賠償。透過便利商店、掌櫃寄送者，以登記於便利商店或掌櫃多媒體機台的申請單號為賠償依據，由書立馬先代替物流單位作為賣家聯繫窗口。</p>
    
    <p>若賣家使用其他寄送管道，需自行聯繫物流單位。以下說明萊爾富、全家、掌櫃寄件服務之賠償上限：</p>
    <p>(1)萊爾富寄件：自賣家於門市交寄至書立馬先前，期間發生毀損或遺失者，每筆申請單之賠償以10本為上限，並依該申請單內容順序前10本二手書之預估賣家銷售所得為賠償金額。賠償金額上限為新台幣4,000元。<br>(2)全家寄件：自賣家於門市交寄至書立馬先前，期間發生毀損或遺失者，每筆申請單之賠償以15本為上限，並依該申請單內容順序前15本二手書之預估賣家銷售所得為賠償金額。賠償金額上限為新台幣5,000元。<br>(3)掌櫃寄件：自賣家於掌櫃機台交寄至書立馬先前，期間發生毀損或遺失者，每筆申請單之賠償以該申請單之預估賣家銷售所得為賠償金額。賠償金額上限為新台幣20,000元。</p>
    <p></p>
    <p>七、代售手續費(佣金)與賣家銷售所得：</p>
    <p>賣家銷售所得之計算方式：賣家自訂售價扣除代售手續費(佣金，採四捨五入)之餘額為賣家銷售所得。</p>
    <p>代售手續費(佣金)為賣家自訂售價之35％。與書立馬先另行議定代售手續費(佣金)之賣家不在此限。以賣家自訂售價新台幣110元為例，110元x35%四捨五入後，新台幣39元為代售手續費(佣金)，110-39=新台幣71元為賣家銷售所得。</p>
    <p></p>
    <p>八、結帳方式：</p>
    <p>賣家銷售所得將匯入賣家之「讀冊帳戶」，賣家可於書立馬先網站「會員中心」&rarr;「讀冊帳戶/回饋金」&rarr;「讀冊帳戶」查詢，申請匯出現金。如個人戶賣家欲匯出現金至銀行帳戶（注意：指定帳戶需提供台灣當地設立之銀行，恕不接受國外銀行。），每筆匯款需扣除銀行匯款手續費[註4]；公司戶賣家匯至公司銀行帳戶，除需扣除銀行匯款手續費外，需先依申請匯出之金額開立抬頭為學思行數位行銷股份有限公司之發票或收據(免用統一發票收據)，統一編號24342999，公益單位另需提供「機關團體銷售貨物或勞務申報銷售額與營業稅繳款書」(簡稱407繳款書)，並以掛號郵寄至「10553台北市松山區南京東路4段56號6樓，學思行數位行銷股份有限公司財會部收」。</p>
    <p></p>
    <p>九、賣家銷售所得匯入時間：</p>
    <p>當月26日~次月25日售出且未退回之二手書，其銷售所得將於再次月25日匯入賣家之「讀冊帳戶」<br>範例：買家完成訂購，且於1月26日～2月25日出貨之二手書，銷售所得則於3月25日匯入。<br>　　　買家完成訂購，且於2月26日～3月25日出貨之二手書，銷售所得則於4月25日匯入。以此類推。</p>
    <p></p>
    <p>十、代售期限與終止代售：</p>
    <p>賣家委託書立馬先代售之二手書，自開始銷售[註 5]起1年內，得於書立馬先網站以及與其合作之第三方平台販售。有以下情況將終止代售：</p>
    <ol>
        <li>1年代售期終止。</li>
        <li>針對銷售中的二手書，賣家向書立馬先申請終止代售。</li>
    </ol>
    <p>終止代售的二手書，除了賣家於書立馬先指定之回覆期限內表示需退回者，其餘將視同賣家拋棄該二手書之所有權及其他相關權利。賣家表示需退回之二手書，其退回費用比照本服務條款【第十一條 二手書退回費用】的計算方式。</p>
    <p></p>
    <p>十一、二手書退回費用：
        <ol>
            <li>二手書退回費用包含運費與退回手續費，運費以每本新台幣20元計算；二手書原書籍定價(版權頁定價)之5%為退回手續費。上述兩項費用加總未滿新台幣100元者，以新台幣100元計。除下列第2點描述之特殊情況，退回費用採貨到付款。</li>
            <li>特殊情況：要求假日寄送、收件地址為「<a href="https://www.kerrytj.com/ZH/search/outside.aspx" target="_blank">偏遠地區</a>」(依據大榮貨運公告為準)、離島、國外或二手書材積過大等，二手書退回費用則另行計費，且需先付款再退回。</li>
        </ol>
</p>
    <p></p>
    <p>十二、二手書寄送至書立馬先後，無法代售情形之後續處理：</p>
    <p>無法代售的二手書，書立馬先將主動通知賣家，除了賣家在書立馬先通知後14日之回覆期限內表示需退回者，其餘將視同賣家拋棄該二手書之所有權及其他相關權利。賣家表示需退回之二手書，其退回費用比照本服務條款【第十一條 二手書退回費用】的計算方式。</p>
    <p>書立馬先收到以下情況的二手書，將無法代售：</p>
    <ol>
        <li>未含在上架申請單內的物品或二手書。</li>
        <li>數量、品項與上架申請單內容不符者。</li>
        <li>該賣家已有相同ISBN之二手書正在銷售中，且數量已達3本(請參考本服務條款【第二條 代售二手書範疇 第2項】)。</li>
        <li>二手書符合本服務條款【第二條 代售二手書範疇 第3項】列舉之不代售情形者。</li>
        <li>混合裝箱：同一紙箱/包裹內裝有多筆上架申請單號之二手書(請參考本服務條款【第五條 二手書打包/裝箱】)。</li>
    </ol>
    <p></p>
    <p>十三、個人一時貿易所得：</p>
    <p>依所得稅法第4條第16項規定，如賣家單純出清日常使用之物品，非「以營利為目的」及非「採進、銷貨方式」經營者，尚毋需課徵所得稅。「以營利為目的」及「採進、銷貨方式」的經營者/賣家，請依財政部國稅局規定申報並繳納稅款。</p>
    <p></p>
    <p>十四、相同ISBN之二手書上架申請</p>
    <p>原則上，相同ISBN的二手書在書立馬先販售的數量以5本(含)為上限，書立馬先得依市場反應調控數量，不另行通知。若賣家重複上架申請相同ISBN的二手書，書立馬先將與賣家另外議定代售手續費(佣金)，待雙方達成協議後，書立馬先再完成後續作業；未達成協議者，書立馬先將無法提供代售服務，後續處理比照本服務條款【第十二條 二手書寄送至書立馬先後，無法代售情形之後續處理】。</p>
    <p></p>
    <p>十五、書立馬先保留彈性調整本服務條款之權利，調整內容即公佈於網頁，不另行通知賣家。</p>
    <p></p>
            <p>名詞定義：</p>
            <p>[註1]「上架申請」：賣家於會員中心登記欲販售二手書的過程</p>
            <p>[註2]「二手書上架申請單」：簡稱「申請單」。賣家於會員中心上架申請過程中，選定同一批寄送之二手書清單。</p>
            <p>[註3]「二手書上架申請單號」：簡稱「申請單號」。賣家於會員中心完成上架申請流程後，書立馬先提供申請單一組CE開頭之序號。</p>
            <p>[註4]「銀行匯款手續費」：若指定帳戶為永豐銀行，將免收銀行匯款手續費；若非永豐銀行，銀行將收取每筆銀行匯款手續費新台幣15元。</p>
            <p>[註5]「開始銷售」：書立馬先收到賣家交寄之二手書，且完成銷售前置作業後，該二手書開放訂購。</p>
        <p></p>
        <p>關於賣家開通「二手書販售權限」以及其他特定資料依書立馬先隱私權政策受到保護與規範。</p>
        <p></p>
        <p>本條款最近一次更新日期: 2022/2/27</p>
</body>
</html>